<%- include("partials/header.ejs") %>

  <!-- <div class="container"> -->

    <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                     
                <div class="containerbox">
                  <h2>Welcome to The Brewery App</h2>
                  <h3>David Lynch -Web Developer</h3>
                 <p>This is an api that allows users to search for breweries
                  around the world. You can search by brewery type, location,
                  size and much more.<br />
                  For example: <a href="/random" target="_self">Click here</a> to display a random brewery around the 
                  world.
                </p>
                </div>
    
            </div>
    
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">

              <div class="containerbox">
                <img src="/images/brewery3.png" width="300px" alt="Brewery App"><br />
              </div>

          </div>
    
    <!-- </div> -->

<%- include("partials/footer.ejs") %>
